force-app/main/default/flows/Inbound_Sprout_Social_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Build_New_Case</name>
        <label>Build New Case</label>
        <locationX>754</locationX>
        <locationY>5351</locationY>
        <assignmentItems>
            <assignToReference>Parent_Case_Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Record_to_Save.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Case_Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Persona_Record_to_Save.ParentContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Case_Record.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Record_to_Save.Provider__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_New_Case_0</name>
        <label>Build New Case</label>
        <locationX>1018</locationX>
        <locationY>5351</locationY>
        <assignmentItems>
            <assignToReference>Parent_Case_Record.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Record_to_Save.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Case_Record.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Post_Record_to_Save.Provider__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Persona_Parent_Contact</name>
        <label>Build Persona Parent Contact</label>
        <locationX>1232</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>Persona_Parent_Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Persona_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Parent_Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Persona_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_enough_information_to_create_a_parent_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Persona_Record_from_Data_Event</name>
        <label>Build Persona Record from Data Event</label>
        <locationX>580</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Persona_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.ParentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_GUID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.RealName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Persona_Real_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Persona_Provider__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.ExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Persona_External_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.MediaProvider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Media_Provider__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.External_Picture_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Persona_External_Picture_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.Profile_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Persona_Profile_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.Followers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Persona_Followers__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.Author_Labels__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Persona_Author_Labels__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Post_Record_from_Data_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Post_Record_from_Data_Event</name>
        <label>Build Post Record from Data Event</label>
        <locationX>580</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Post_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.Message_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Message_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.Provider__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Post_Provider__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.ExternalPostId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Post_External_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Post_Content__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.PostTags__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Post_Tags__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.Posted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Posted_At__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.Recipient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Post_Recipient__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.Parent_GUID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent_GUID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Should_we_check_for_existing_post</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nullify_Parent_Case</name>
        <label>Nullify Parent Case</label>
        <locationX>534</locationX>
        <locationY>4463</locationY>
        <assignmentItems>
            <assignToReference>Parent_Case_Record</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Should_we_find_latest_inbound_Post_based_on_persona_and_recipient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reopen_Case</name>
        <label>Reopen Case</label>
        <locationX>314</locationX>
        <locationY>5231</locationY>
        <assignmentItems>
            <assignToReference>Parent_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Parent_Case_Record.IsClosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Parent_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Case_Record</name>
        <label>Set Parent Case Record</label>
        <locationX>446</locationX>
        <locationY>4223</locationY>
        <assignmentItems>
            <assignToReference>Parent_Case_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case_of_ReplyTo_Post</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_parent_Case_valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Case_Record_0</name>
        <label>Set Parent Case Record</label>
        <locationX>798</locationX>
        <locationY>4583</locationY>
        <assignmentItems>
            <assignToReference>Parent_Case_Record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Parent_Case_of_latest_inbound_Post</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_a_parent_Case_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Contact_Lookup_Value</name>
        <label>Set Parent Contact Lookup Value</label>
        <locationX>1100</locationX>
        <locationY>3215</locationY>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.ParentContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Persona_Parent_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Persona_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Persona_Lookup_on_Post</name>
        <label>Set Persona Lookup on Post</label>
        <locationX>1111</locationX>
        <locationY>3743</locationY>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.PersonaId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Persona_Record_to_Save.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_unsent_parent_true</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Persona_Record_ID_and_Parent_Contact_ID</name>
        <label>Set Persona Record ID and Parent Contact ID</label>
        <locationX>580</locationX>
        <locationY>1799</locationY>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Persona_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Persona_Record_to_Save.ParentContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Persona_Parent_Contact_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_there_an_existing_post</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Record_ID</name>
        <label>Set Post Record ID</label>
        <locationX>668</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Post_Record_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Persona_Provider_Other</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Post_Reviewed_Status_to_Needed</name>
        <label>Set Post Reviewed Status to &apos;Needed&apos;</label>
        <locationX>979</locationX>
        <locationY>6215</locationY>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.ReviewedStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_the_Post_record_already_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Relationships_on_Post</name>
        <label>Set Relationships on Post</label>
        <locationX>1111</locationX>
        <locationY>5975</locationY>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.WhoId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Persona_Record_to_Save.ParentContact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.ParentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Parent_Case_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_we_need_to_require_moderator_review</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ReplyTo_Post</name>
        <label>Set ReplyTo Post</label>
        <locationX>979</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>Reply_To_Post</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reply_To_Post_by_Provider_External_ID_and_Recipient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ReplyToId_Lookup_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ReplyTo_Post_0</name>
        <label>Set ReplyTo Post</label>
        <locationX>1243</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>Reply_To_Post</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reply_To_Post_by_Provider_and_External_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_ReplyToId_Lookup_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ReplyToId_Lookup_Value</name>
        <label>Set ReplyToId Lookup Value</label>
        <locationX>1111</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>Post_Record_to_Save.ReplyToId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reply_To_Post.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_there_an_existing_persona</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Did_we_find_the_latest_inbound_Post</name>
        <label>Did we find the latest inbound Post?</label>
        <locationX>930</locationX>
        <locationY>4343</locationY>
        <defaultConnector>
            <targetReference>Does_a_parent_Case_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Did_we_find_the_latest_inbound_Post_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Latest_Inbound_Post_by_Persona_and_Recipient</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Case_of_latest_inbound_Post</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_we_need_to_require_moderator_review</name>
        <label>Do we need to require moderator review?</label>
        <locationX>1111</locationX>
        <locationY>6095</locationY>
        <defaultConnector>
            <targetReference>Does_the_Post_record_already_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Do_we_need_to_require_moderator_review_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Record_to_Save.ParentId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unsent_Parent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Post_Reviewed_Status_to_Needed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_a_parent_Case_exist</name>
        <label>Does a parent Case exist?</label>
        <locationX>765</locationX>
        <locationY>4991</locationY>
        <defaultConnector>
            <targetReference>Should_we_create_a_new_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Does_a_parent_Case_exist_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Case_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_case_closed_and_should_it_be_reopened</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Persona_have_a_parent_Contact</name>
        <label>Does the Persona have a parent Contact?</label>
        <locationX>886</locationX>
        <locationY>5231</locationY>
        <defaultConnector>
            <targetReference>Build_New_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Does_the_Persona_have_a_parent_Contact_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.ParentContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_New_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_Post_record_already_exist</name>
        <label>Does the Post record already exist?</label>
        <locationX>1111</locationX>
        <locationY>6431</locationY>
        <defaultConnector>
            <targetReference>Create_Post_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Does_the_Post_record_already_exist_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Record_to_Save.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Post_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_parent_Case_valid</name>
        <label>Is parent Case valid?</label>
        <locationX>446</locationX>
        <locationY>4343</locationY>
        <defaultConnector>
            <targetReference>Nullify_Parent_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_parent_Case_valid_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Case_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Parent_Case_Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$System.OriginDateTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MaxNumberofDaysforCaseReopening</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_a_parent_Case_exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Persona_Provider_Other</name>
        <label>Is Persona Provider &apos;Other&apos;?</label>
        <locationX>580</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_Persona_External_ID_and_Media_Provider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Is_Persona_Provider_Other_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.Provider__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_there_a_Persona_External_ID</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_case_closed_and_should_it_be_reopened</name>
        <label>Is the case closed and should it be reopened?</label>
        <locationX>446</locationX>
        <locationY>5111</locationY>
        <defaultConnector>
            <targetReference>Set_Relationships_on_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_the_case_closed_and_should_it_be_reopened_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parent_Case_Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$System.OriginDateTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MaxNumberofDaysforCaseReopening</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reopen_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_post_a_direct_message</name>
        <label>Is the post a direct message?</label>
        <locationX>1111</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Get_Reply_To_Post_by_Provider_and_External_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_the_post_a_direct_message_YES</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Post_Record_to_Save.Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facebook</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Post_Record_to_Save.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Post_Record_to_Save.Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Twitter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Post_Record_to_Save.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reply_To_Post_by_Provider_External_ID_and_Recipient</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Persona_External_ID</name>
        <label>Is there a Persona External ID?</label>
        <locationX>283</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Persona_by_External_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Is_there_a_Persona_External_ID_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.ExternalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Persona_by_Name</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Persona_External_ID_and_Media_Provider</name>
        <label>Is there a Persona External ID and Media Provider?</label>
        <locationX>877</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Is_there_a_Persona_Name_and_Media_Provider</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_there_a_Persona_External_ID_and_Media_Provider_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.ExternalId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.MediaProvider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Persona_by_External_ID_and_Media_Provider</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Persona_Name_and_Media_Provider</name>
        <label>Is there a Persona Name and Media Provider?</label>
        <locationX>1075</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Set_Persona_Record_ID_and_Parent_Contact_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_there_a_Persona_Name_and_Media_Provider_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.MediaProvider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Persona_by_Name_and_Media_Provider</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_enough_information_to_create_a_parent_Contact</name>
        <label>Is there enough information to create a parent Contact?</label>
        <locationX>1232</locationX>
        <locationY>2975</locationY>
        <defaultConnector>
            <targetReference>Create_Persona_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_there_enough_information_to_create_a_parent_Contact_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Persona_Last_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Persona_Parent_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_enough_information_to_create_a_persona</name>
        <label>Is there enough information to create a persona?</label>
        <locationX>1386</locationX>
        <locationY>2735</locationY>
        <defaultConnector>
            <targetReference>Set_Persona_Lookup_on_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_there_enough_information_to_create_a_persona_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.Provider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.MediaProvider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Persona_Parent_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_unsent_parent_true</name>
        <label>Is unsent parent &apos;true&apos;?</label>
        <locationX>1111</locationX>
        <locationY>3863</locationY>
        <defaultConnector>
            <targetReference>Set_Relationships_on_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Is_unsent_parent_true_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unsent_Parent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Should_we_find_Case_from_Post_Reply</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_we_check_for_existing_post</name>
        <label>Should we check for existing post?</label>
        <locationX>580</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Post_by_External_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Should_we_check_for_existing_post_NO</name>
            <conditionLogic>(1 AND 2) OR 3 OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Post_Provider__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Facebook</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Message_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Post_Provider__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Post_External_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Persona_Provider_Other</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_we_create_a_new_Case_0</name>
        <label>Should we create a new Case?</label>
        <locationX>1084</locationX>
        <locationY>5111</locationY>
        <defaultConnector>
            <targetReference>Set_Relationships_on_Post</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Should_we_create_a_new_Case_YES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unsent_Parent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Skip_Create_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_Persona_have_a_parent_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_we_find_Case_from_Post_Reply</name>
        <label>Should we find Case from Post Reply?</label>
        <locationX>765</locationX>
        <locationY>3983</locationY>
        <defaultConnector>
            <targetReference>Should_we_find_latest_inbound_Post_based_on_persona_and_recipient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Should_we_find_Case_from_Post_Reply_YES</name>
            <conditionLogic>((1 AND 2) AND (3 AND 4) OR (5 AND 6)) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Post_Record_to_Save.Message_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Private</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Post_Record_to_Save.Message_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Post_Record_to_Save.ReplyToId__r.IsOutbound__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reply_To_Post.Recipient__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Persona_Record_to_Save.ExternalId__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Post_Record_to_Save.ReplyToId__r.IsOutbound__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Post_Record_to_Save.ReplyToId__r.PersonaId__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Persona_Record_to_Save.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Post_Record_to_Save.ReplyToId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Case_of_ReplyTo_Post</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_we_find_latest_inbound_Post_based_on_persona_and_recipient</name>
        <label>Should we find latest inbound Post based on persona and recipient?</label>
        <locationX>1084</locationX>
        <locationY>4103</locationY>
        <defaultConnector>
            <targetReference>Does_a_parent_Case_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Should_we_find_latest_inbound_Post_based_on_persona_and_recipient_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Post_Record_to_Save.Recipient__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Latest_Inbound_Post_by_Persona_and_Recipient</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_there_an_existing_persona</name>
        <label>Was there an existing persona?</label>
        <locationX>1111</locationX>
        <locationY>2615</locationY>
        <defaultConnector>
            <targetReference>Is_there_enough_information_to_create_a_persona</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Was_there_an_existing_persona_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Persona_Record_to_Save.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Persona</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_there_an_existing_post</name>
        <label>Was there an existing post?</label>
        <locationX>580</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Is_the_post_a_direct_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Was_there_an_existing_post_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Post_Record_to_Save.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Post</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MaxNumberofDaysforCaseReopening</name>
        <dataType>DateTime</dataType>
        <expression>{!Parent_Case_Record.ClosedDate} + 5</expression>
    </formulas>
    <interviewLabel>Inbound Sprout Social Data {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Inbound Sprout Social Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Case</name>
        <label>Create new Case</label>
        <locationX>886</locationX>
        <locationY>5567</locationY>
        <connector>
            <targetReference>Set_Relationships_on_Post</targetReference>
        </connector>
        <inputReference>Parent_Case_Record</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Persona_Parent_Contact</name>
        <label>Create Persona Parent Contact</label>
        <locationX>1100</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>Set_Parent_Contact_Lookup_Value</targetReference>
        </connector>
        <inputReference>Persona_Parent_Contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Persona_Record</name>
        <label>Create Persona Record</label>
        <locationX>1232</locationX>
        <locationY>3431</locationY>
        <connector>
            <targetReference>Set_Persona_Lookup_on_Post</targetReference>
        </connector>
        <inputReference>Persona_Record_to_Save</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Post_Record</name>
        <label>Create Post Record</label>
        <locationX>1243</locationX>
        <locationY>6551</locationY>
        <inputReference>Post_Record_to_Save</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Latest_Inbound_Post_by_Persona_and_Recipient</name>
        <label>Find Latest Inbound Post by Persona and Recipient</label>
        <locationX>930</locationX>
        <locationY>4223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_find_the_latest_inbound_Post</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonaId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Post_Record_to_Save.PersonaId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Post_Record_to_Save.Provider__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Recipient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Post_Record_to_Save.Recipient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sprout_Social_Post__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Persona_by_External_ID</name>
        <label>Get Existing Persona by External ID</label>
        <locationX>415</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Persona_Record_ID_and_Parent_Contact_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Persona_Record_to_Save.ExternalId__c</elementReference>
            </value>
        </filters>
        <object>Sprout_Social_Persona__c</object>
        <outputAssignments>
            <assignToReference>Existing_Persona_Record_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Existing_Persona_Parent_Contact_Id</assignToReference>
            <field>ParentContact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Persona_by_External_ID_and_Media_Provider</name>
        <label>Get Existing Persona by External ID and Media Provider</label>
        <locationX>679</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Persona_Record_ID_and_Parent_Contact_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Persona_Record_to_Save.ExternalId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MediaProvider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Persona_Record_to_Save.MediaProvider__c</elementReference>
            </value>
        </filters>
        <object>Sprout_Social_Persona__c</object>
        <outputAssignments>
            <assignToReference>Existing_Persona_Record_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Existing_Persona_Parent_Contact_Id</assignToReference>
            <field>ParentContact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Persona_by_Name</name>
        <label>Get Existing Persona by Name</label>
        <locationX>151</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Persona_Record_ID_and_Parent_Contact_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Persona_Record_to_Save.Name</elementReference>
            </value>
        </filters>
        <object>Sprout_Social_Persona__c</object>
        <outputAssignments>
            <assignToReference>Existing_Persona_Record_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Existing_Persona_Parent_Contact_Id</assignToReference>
            <field>ParentContact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Persona_by_Name_and_Media_Provider</name>
        <label>Get Existing Persona by Name and Media Provider</label>
        <locationX>943</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Persona_Record_ID_and_Parent_Contact_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Persona_Record_to_Save.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>MediaProvider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Persona_Record_to_Save.MediaProvider__c</elementReference>
            </value>
        </filters>
        <object>Sprout_Social_Persona__c</object>
        <outputAssignments>
            <assignToReference>Existing_Persona_Record_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Existing_Persona_Parent_Contact_Id</assignToReference>
            <field>ParentContact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Post_by_External_ID</name>
        <label>Get Existing Post by External ID</label>
        <locationX>668</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Post_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ExternalPostId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Post_External_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Post_Provider__c</elementReference>
            </value>
        </filters>
        <object>Sprout_Social_Post__c</object>
        <outputAssignments>
            <assignToReference>Existing_Post_Record_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case_of_latest_inbound_Post</name>
        <label>Get Parent Case of latest inbound Post</label>
        <locationX>798</locationX>
        <locationY>4463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Parent_Case_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Latest_Inbound_Post_by_Persona_and_Recipient.ParentId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case_of_ReplyTo_Post</name>
        <label>Get Parent Case of ReplyTo Post</label>
        <locationX>446</locationX>
        <locationY>4103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Parent_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Post_Record_to_Save.ReplyToId__r.ParentId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reply_To_Post_by_Provider_and_External_ID</name>
        <label>Get &apos;Reply To&apos; Post by Provider and External ID</label>
        <locationX>1243</locationX>
        <locationY>2159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_ReplyTo_Post_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Post_Record_to_Save.Provider__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExternalPostId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Post_Record_to_Save.Parent_GUID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sprout_Social_Post__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reply_To_Post_by_Provider_External_ID_and_Recipient</name>
        <label>Get &apos;Reply To&apos; Post by Provider, External ID, and Recipient</label>
        <locationX>979</locationX>
        <locationY>2159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_ReplyTo_Post</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Provider__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Post_Record_to_Save.Provider__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ExternalPostId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Post_Record_to_Save.Parent_GUID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Recipient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Post_Record_to_Save.Recipient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sprout_Social_Post__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Parent_Case</name>
        <label>Update Existing Parent Case</label>
        <locationX>314</locationX>
        <locationY>5351</locationY>
        <connector>
            <targetReference>Set_Relationships_on_Post</targetReference>
        </connector>
        <inputReference>Parent_Case_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Persona</name>
        <label>Update Existing Persona</label>
        <locationX>836</locationX>
        <locationY>2735</locationY>
        <connector>
            <targetReference>Set_Persona_Lookup_on_Post</targetReference>
        </connector>
        <inputReference>Persona_Record_to_Save</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Post</name>
        <label>Update Existing Post</label>
        <locationX>50</locationX>
        <locationY>2039</locationY>
        <inputReference>Post_Record_to_Save</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Post_Record</name>
        <label>Update Post Record</label>
        <locationX>979</locationX>
        <locationY>6551</locationY>
        <inputReference>Post_Record_to_Save</inputReference>
    </recordUpdates>
    <start>
        <locationX>454</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Build_Persona_Record_from_Data_Event</targetReference>
        </connector>
        <object>Sprout_Social_Data_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Existing_Persona_Parent_Contact_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Existing_Persona_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Existing_Post_Record_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Parent_Case_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Persona_Parent_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Persona_Record_to_Save</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sprout_Social_Persona__c</objectType>
    </variables>
    <variables>
        <name>Post_Record_to_Save</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sprout_Social_Post__c</objectType>
    </variables>
    <variables>
        <name>Reply_To_Post</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sprout_Social_Post__c</objectType>
    </variables>
</Flow>
